@import "tailwindcss-animated";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  scroll-behavior: smooth;
}


.font-montserrat {
  font-family: var(--font-montserrat);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", "Arial", Helvetica, sans-serif;
}